html, body {
	margin: 0; 
	padding: 0;
	width: 100%;
	height: 100%;
}

.home-header {
	width: 1326px;
	height: 575px;
	background: url("../assets/home_header_image.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-header {
	width: 1326px;
	height: 575px;
	background: url("../assets/menu_header_image.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-header {
	width: 1326px;
	height: 575px;
	background: url("../assets/contact_header_image.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-header::before {
	content: '';
	position: absolute;
	width: 1326px;
	height: 575px;
	background-color: #303030;
	opacity: 0.6;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.menu-header::before {
	content: '';
	position: absolute;
	width: 1326px;
	height: 575px;
	background-color: #303030;
	opacity: 0.6;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.contact-header::before {
	content: '';
	position: absolute;
	width: 1326px;
	height: 575px;
	background-color: #303030;
	opacity: 0.6;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 auto;
}



.logo {
	width: 441px;
	height: 180px;
	background: url("../assets/logo.png");
	z-index: 99;
	
}

