@font-face {
	font-family: 'Century Gothic';
	src: url('./../assets/fonts/CenturyGothic.eot');
	src: url('./../assets/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
			 url('./../assets/fonts/CenturyGothic.woff') format('woff'),
			 url('./../assets/fonts/CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
	line-height: 180%;
	height: 100%;
	margin: 0; 
	padding: 0;
	width: 100%;
}

#font-body > .mini-nav > span > a {
	color: white;
}

.contact-header {
	align-items: center;
	background: url("../assets/images/contact_header_image.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	height: 575px;
	justify-content: center;
	margin: 0 auto;
	max-width: 1326px;
	width: 100%;
}

.contact-header::before {
	background-color: #303030;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	height: 575px;
	margin: 0 auto;
	opacity: 0.6;
	position: absolute;
	max-width: 1326px;
	width: 100%;
}

.contact-body {
	display: flex;
}

.contact-body > div {
	display: inline-block;
	margin-bottom: 120px;
	margin-top: 20px;
	text-align: center;
	width: 49.8%;
}

.contact-text {
	letter-spacing: 0.1em;
	line-height: 29px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.content {
	display: block;
	margin: auto;
	width: 90%;
}

.footer {
	bottom: 0;
	display: contents;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	width: 100%;
}

.footer > .body {
	background: black;
	padding-bottom: 40px;
	padding-top: 40px;
}

.footer > .body > .mini-nav {
	height: 34px;
}

.footer > .body > .mini-nav > span {
	color: white;
}

.footer > .body > span {
	color: white;
	display: block;
	font-size: 2vh;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: 0.2vh;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}

.footer > .copyrite {
	background: #00817E;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}

.footer > .copyrite > span {
	color: white;
	letter-spacing: 0.2vh;
	margin: auto;
}

.home-header {
	align-items: center;
	background: url("../assets/images/home_header_image.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	height: 575px;
	justify-content: center;
	margin: 0 auto;
	max-width: 1326px;
	width: 100%;
	animation: fade-in 1s 1 linear;
}

.home-header::before {
	background-color: #303030;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	height: 575px;
	margin: 0 auto;
	opacity: 0.3;
	position: absolute;
	max-width: 1326px;
	width: 100%;
}

.logo {
	background: url("../assets/images/logo.png");
	height: 180px;
	width: 441px;
	z-index: 99;
}

.map-holder {
	display: flex;
	justify-content: center;
	margin: 10px auto;
}

.menu,
.menu > .header {
	display: table;
	width: 100%;
}

.menu > embed {
	height: 1000px;
	margin-bottom: 50px;
	width: 100%;
}

.menu > .header > button {
	border: none;
	cursor: pointer;
	font-family: 'Century Gothic';
	font-size: 1.4em;
	letter-spacing: 0.6em;
	line-height: 28px;
	margin: 8px 0;
	outline: none;
	padding: 45px;
	width: 33.3%;
}

.menu > .header > button:nth-child(even),
.menu > .header > button:nth-child(even):active,
.menu > .header > button:nth-child(even):focus {
	background: #000000;
	color: white;
	transition-duration: 200ms;
	transition-property: background-color color;
	transition-timing-function: linear;
}

.menu > .header > button:nth-child(even):hover {
	background: white;
	color: black;
}

.menu > .header > button:nth-child(odd),
.menu > .header > button:nth-child(odd):active,
.menu > .header > button:nth-child(odd):focus {
	background: #00817E;
	color: black;
	transition-duration: 200ms;
	transition-property: background-color color;
	transition-timing-function: linear;
}

.menu > .header > button:nth-child(odd):hover {
	background: white;
	color: #00817E;
}

.menu-header {
	align-items: center;
	background: url("../assets/images/menu_header_image.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	height: 575px;
	justify-content: center;
	margin: 0 auto;
	max-width: 1326px;
	width: 100%;
	animation: fade-in 1s 1 linear;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.menu-header::before {
	background-color: #303030;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	height: 575px;
	margin: 0 auto;
	opacity: 0.3;
	position: absolute;
	max-width: 1326px;
	width: 100%;
}

.navbar {
	display: flex;
	font-family: 'Raleway', sans-serif;
	justify-content: center;
	margin: auto;
	padding-right: 0;
	position: relative;
	max-width: 1326px;
	width: 100%;
}

.nav-links-center {
	align-items: center;
	display: flex;
	height: 90px;
	justify-content: center;
}

.nav-links-center > span {
	height: 30px;
}

.nav-links-center > span > a {
	color: black;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.3vh;
	line-height: 16px;
	margin-left: 27px;
	margin-right: 27px;
	text-decoration: none;
}

.mini-nav > span > a.selected,
.nav-links-center > span > a.selected {
	color: #00cec9 !important;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.3vh;
	line-height: 16px;
	margin-left: 27px;
	margin-right: 27px;
	text-decoration: none;
}

.nav-links-right > span > a::after,
.nav-links-center > span > a::after {
	background: #00CEC9;
	content: '';
	display: block;
	height: 2px;
	margin: auto;
	transition: 150ms width linear;
	width: 0;
}

.nav-links-center > span > a:hover::after,
	.nav-links-right > span > a:hover::after {
	width: 30%;
}

.nav-links-right {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 90px;
	justify-content: center;
	position: absolute;
	right: 10px;
	top: 0;
}

.nav-links-right > span > a > img {
	cursor: pointer;
	height: 15px;
	margin-left: 8px;
	margin-right: 8px;
	width: 15px;
}

.section {
	min-height: 380px;
	padding: 50px;
	width: 100%;
}

.v-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text-body {
	color: #3D3D3D;
	display: block;
	font-family: 'Century Gothic';
	font-size: 16px;
	letter-spacing: 0.2vh;
	line-height: 3.5vh;
}

.text-center {
	text-align: center;
}

.text-header {
	color: black;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.2vh;
	line-height: 7vh;
	margin-bottom: 50px;
	width: 100%;
}

.text-header::after {
	background: #00CEC9;
	content: '';
	display: block;
	height: 1px;
	margin: auto;
	width: 20%;
}

.text-header-nw {
	color: black;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.2vh;
	line-height: 4vh;
	margin-bottom: 50px;
	width: 100%;
}

.text-header-nw::after {
	background: #00CEC9;
	content: '';
	display: block;
	height: 1px;
	margin: auto;
	width: 10%;
}

#home-content {
	margin: 0 auto;
	max-width: 1326px;
	width: 100%;
}

.about {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 255px;
}


.about-title::after {
	position: relative;
	content: '';
	display: block;
	width: 100px;
	height: 1px;
	margin: auto;
	margin-top: 20px;
	background-color: #00CEC9;

}

.about > p {
	font-family: 'Century Gothic';
	text-align: center;
	width: 50%;
}

.about-content {
	display: flex;
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
}

.about-content > div {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 486px;
}

.about-content > div > h3 {
	font-family: 'Raleway', sans-serif;
}

.about-content > div > p {
	font-family: 'Century Gothic';
}

#connector-1 {
	display: block;
	margin: 0 auto;
	width: 550px;
}

#connector-2 {
	display: block;
	margin: 0 auto;
	transform: scaleX(-1);
	width: 550px;
}

.bottom-quote {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	letter-spacing: 0.2em;
	margin: 0 auto;
	margin-bottom: 255px;
	margin-top: 255px;
	text-align: center;
	width: 550px;
}

.bottom-quote > p {
	text-align: right;
}

#cursor {
	font-size: 24;
	color: black;
  animation: blink .7s infinite ease
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}